name: Terraform AWS Deployment
run-name: Terraform AWS Deployment
on: [push]

jobs:
  deploy-aws:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0

      - name: Configure AWS Credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_DEFAULT_REGION: us-east-1

      - name: Initialize Terraform
        run: terraform init

      - name: Plan Terraform Changes
        run: terraform plan -out=terraform.tfplan

      - name: Apply Terraform Changes
        if: ${{ github.ref == 'refs/heads/main' }}
        run: terraform apply -auto-approve terraform.tfplan
